version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: wardrobe_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: wardrobe_ai
    ports:
      - "4242:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: